version: "3.9"

services:
  backend:
    build: .
    image: ai_interview_backend:latest
    container_name: ai_interview_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
