@import "tailwindcss";

/* body {
  padding: 20px;
  background-color: #f7f9fc;
  font-family: Arial, sans-serif;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

.card-custom {
  border-radius: 12px;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
} */

.selectable-card {
  transition: 0.3s ease;
  border: 2px solid transparent;
  border-radius: 12px;
}

.selectable-card:hover {
  border-color: #0d6efd;
}

.selected {
  border-color: #0d6efd !important;
  background-color: #e7f1ff !important;
}

.screen-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  z-index: 9998;
  pointer-events: all;
  /* Bloquea CLICS */
}